<!-- starting include html -->
{% for folder in folders %}
  {%- set _folder_ID = 'fldr-' + loop.index|string -%}

<div class="listing">
  <div class="folder">{{ folder.name }}</div>
  {% if folder.desc %}<div class="description">{{ folder.desc }}</div>{% endif %}
  {% for l1 in folder.level1 %}
    {%- set _level1_ID = _folder_ID + '-l1-' + loop.index|string -%}
    <div class="heading"><a data-toggle="collapse" href="#{{_level1_ID}}" aria-expanded="false" aria-controls="{{_level1_ID}}">{{ l1.name }}</a></div>
    {% if l1.desc %}<div class="description">{{ l1.desc }}</div>{% endif %}
    <div class="collapse" id="{{_level1_ID }}">

    {% if l1.level2 %}
      {% for l2 in l1.level2 %}
      {% set _level2_ID = _level1_ID + '-l2-' + loop.index|string %}
        <div class="subheading"><a data-toggle="collapse" href="#{{_level2_ID}}" aria-expanded="false" aria-controls="{{_level2_ID }}">{{ l2.name }}</a></div>
        {% if l2.desc %}<div class="description">{{ l2.desc }}</div>{% endif %}
        <div class="collapse" id="{{_level2_ID}}">

        {% if l2.level3 %}
          {% for l3 in l2.level3 %}
            {%- set _level3_ID = _level2_ID + '-l3-' + loop.index|string -%}
            <div class="level3">
              <a data-toggle="collapse" href="#{{ _level3_ID }}" aria-expanded="false" aria-controls="{{ _level3_ID }}">{{ l3.name  }}</a>
              {% if l3.desc %}<div class="description">{{ l3.desc }}</div>{% endif %}
              <div class="collapse" id="{{ _level3_ID }}">
                <ul class="tracks">
                  {% for track in l3.tracks %}
                    <li class="track"><span class="oi {{track.icon}}"></span>
                      <a class="audio_track" href="{{track.url}}" target="_blank">{{track.track}}</a>
                    </li>
                  {% endfor %}
                </ul><!-- /tracks -->
              </div><!-- /collapse #{{_level3_ID}} -->
            </div><!-- /.level3 -->
          {% endfor %}
        {% endif %}

        {% if l2.tracks %}
          <ul class="tracks">
          {% for track in l2.tracks %}
            <li class="track"><span class="oi {{track.icon}}"></span>
              <a class="audio_track" href="{{track.url}}" target="_blank">{{track.track}}</a>
            </li>
          {% endfor %}
          </ul>
        {% endif %}

        </div><!-- /end collapse #{{_level2_ID}} -->

      {% endfor %}
    {% endif %}
    {# end of 'for l2 in l1.level2' loop #}

    {% if l1.tracks %}
      <ul class="tracks">
        {% for track in l1.tracks %}
          <li class="track"><span class="oi {{track.icon}}"></span>
            <a class="audio_track" href="{{track.url}}" target="_blank">{{track.track}}</a>
          </li>
        {% endfor %}
      </ul><!-- /tracks -->
    {% endif -%}

    </div><!-- /end collapse #{{_level1_ID}} -->

  {% endfor %}
  {# end of 'for item in folder.level1' loop #}

    {# we got here because the track lives in a folder,
      like an orphan without a parent level1, level2, or level3 #}
    {% if folder.tracks %}
    <ul class="tracks">
    {% for track in folder.tracks %}
      <li class="track"><span class="oi {{track.icon}}"></span>
        <a class="audio_track" href="{{track.url}}" target="_blank">{{track.track}}</a>
      </li>
    {% endfor %}
    </ul><!-- /tracks -->
    {% endif %}

  </div><!--/listing-->

{% endfor %}
<!-- ending include html -->
