<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <title>title</title>
  <meta name="description" content="{{ description }}" />
</head>

<body>

  {% for folder in folders %}
  <div class="listing">
    <div class="folder">{{ folder }}</div>
  </div>
  {% endfor %}

</body>
</html>
